.contact {
  margin: 0 auto;
  padding: 5vw;
  width: 1000px;

  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.contact::-webkit-scrollbar {
  display: none;
}

.title {
  font-size: 3.333vw;
  font-weight: 900;
  margin-bottom: 5vw;
  color: #1c7ebb;
}

.container ul {
  display: flex;
  flex-direction: column;
  gap: 2.604vw;
}

.container p {
  display: flex;
  gap: 10px;
  font-size: 1.25vw;
  font-weight: 700;
}

.container li:first-child p {
  color: #ec6a5e;
}
.container li:nth-child(2) p {
  color: #f4be4f;
}
.container li:nth-child(3) p {
  color: #61c555;
}

.container a {
  color: #c6c7cc;
}

.container a:hover {
  color: #a9a9a9;
  font-weight: 900;
}
