.project {
  display: flex;
  height: calc(100% - 48px);
  color: #333;
}

.projectNav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 20%;
  max-height: 100%;
  padding: 50px 20px;
  background: rgba(238, 238, 238, 0.5);
  border-radius: 0 0 0 10px;
  overflow: hidden;
  font-size: 1.6rem;
  font-weight: 400;
}

.menu {
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu img {
  width: 3rem;
}

.menu p {
  transform: translate(0, 3px);
}

.contentsWrap {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.content {
  display: flex;
}

.left {
  border-right: 1px solid #eee;
}

.imgWrap {
  width: 800px;
  height: 400px;
  margin: 50px 20px;
}

.imgWrap img {
  width: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 400px;
  margin: 50px 20px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

span {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  white-space: pre-line;
  word-break: keep-all;
}

.right p:last-child span {
  text-transform: uppercase;
  margin-right: 5px;
}

.btnWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
  gap: 10px;
  border-top: 1px solid #eee;
}

.btnWrap a {
  padding: 10px 20px;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
}

.btnWrap a:hover {
  background-color: #ddd;
}
