.project {
  display: flex;
  height: calc(100% - 48px);
  color: #333;
}

.projectNav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 15%;
  max-height: 100%;
  padding: 30px 15px 15px;
  background: rgba(238, 238, 238, 0.5);
  border-radius: 0 0 0 10px;
  overflow: hidden;
}

.menu {
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu img {
  width: 1.3vw;
}

.menu p {
  font-size: 0.7vw;
}

.contentsWrap {
  display: flex;
  width: 85%;
  padding: 15px;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 100%;
  overflow: hidden;
}

.left img {
  width: 100%;
}

.imgWrap {
  width: 1000px;
  height: 350px;
  margin-right: 10px;
  overflow: hidden;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  border-left: 1px solid #eee;
  padding: 15px;
}

.right h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  margin-bottom: 1rem;
  word-break: keep-all;
  font-weight: 700;
}

.right p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  word-break: keep-all;
}

.right p span {
  margin-bottom: 5px;
}

.right p span:first-child {
  font-weight: 700;
  text-transform: uppercase;
}

.btnWrap {
  display: flex;
  gap: 10px;
}

.right a {
  padding: 5px;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
}

.right a:hover {
  background-color: #ddd;
}
